apache-airflow==2.10.0                       # Airflow for orchestration
apache-airflow-providers-apache-spark==4.1.0 # Apache Spark provider for Airflow
numpy==1.26.4                                # For numerical operations and compatibility with pandas
pandas==2.0.3                                # For data transformation and aggregation
requests==2.31.0                             # To fetch data from the Open breweries DB API
pyarrow==19.0.1                              # Required for saving Parquet files
pytest==7.4.0                                # For writing and running test cases
